---
import LibPost from '../../lib/LibPost';
import type { Post } from '../index.astro';

export async function getStaticPaths() {
    try {   
		const data = await LibPost.getList();
		const posts: Post[] = data.items;	
//console.log(posts);
		return posts.map((post) => {
			return {
				params: { id: post.id, },
				props: { post },
			};
		});			
    } catch (e) {
      console.error(e);
    }	
}

const {id} = Astro.params;
const { post } = Astro.props;
console.log(id);
console.log(post);
---
<h1>{post.title}</h1>
<p>Post:{id}</p>
<hr />
<p>{post.content}</p>


<!--
return [
	{ params: { id: 1 } },
	{ params: { id: 2 } },
	{ params: { id: 3 } }
];
 -->